<mat-toolbar color="primary" class="mat-elevation-z6">
    <mat-icon>terrain</mat-icon>
<span> TopJobs</span>
<div class="spacer">  </div>
<a href="/home" mat-button >Home</a>
<a href="/aboutus" mat-button >About Us</a>
<a href="/app-admin-login" mat-raised-button color="accent" > SignIn as Admin</a>
&nbsp;&nbsp;
<a href="/signup" mat-raised-button color="accent" > Click For A JobSeeker</a>
&nbsp;&nbsp;
<a href="/signupemp" mat-raised-button color="accent" >Click For A Employer</a>

</mat-toolbar>
