<app-navbar></app-navbar>
<div class="col-lg-8 mb-3" >
    <div class="box shadow-sm">
    <h2>Applicant Id :{{resume.applicantId}}</h2> 
</div>
    <div class="box shadow-sm">
      <h2>Skills :{{resume.skills}}</h2> 
</div>
      <div class="box shadow-sm">
        <h2>Major Project :{{resume.majorProject}}</h2> 
</div>
        <div class="box shadow-sm">
          <h2>Experience :{{resume.experience}}</h2> 
</div>
          <div class="box shadow-sm">
            <h2>Achievements :{{resume.achievements}}</h2> 
    </div>
  </div>
<app-footer></app-footer>
